@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&family=Radio+Canada:wght@400;500&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Henny+Penny');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer {
    width: 100%;
    min-height: 100vh;
    z-index: 999000000;
    padding-top: 25px;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
    background: linear-gradient(rgba(22, 21, 21, 0.75), rgba(16, 14, 14, 0.75)), url('../images/concbg.webp');
}

.headline {
    color: white;
    font-size: 40px;
    font-weight: 400;
    padding-top: 50px;
    font-family: "Henny Penny";
}

.contentcont {
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

body::-webkit-scrollbar {
    display: none;
}

.contDetails {
    margin-top: 80px;
    position: fixed;
    background-size: cover;
    z-index: 9990000;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(rgba(51, 50, 50), rgba(35, 25, 25));
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all ease-in-out 1s;
}

.detailstyle {
    padding: 10px;
    font-size: 21px;
    font-weight: 500;
    box-shadow: 5px 5px 5px 5px rgba(10, 9, 9, 0.3);
    border-radius: 8px;
    border: 0.2px solid grey;
    margin-bottom: 5px;
}

.detailsaling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9990000;
    align-items: center;
    color: white;
    margin: 15px 35px;
}

.namestyle {
    font-family: "Henny Penny";
    font-size: 35px;
}

.phone {
    font-family: cursive;
    font-size: 19px;
}

.media {
    display: flex;
    justify-content: space-around;
    width: 80%;
    font-size: 25px;
    margin-top: 7px;

}

.media p a {
    color: white;
}

.contimg {
    height: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 200px;
    border-radius: 50%;
}

.contdesc {
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.containercont {
    border: 0.5px solid grey;
    padding: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px rgba(10, 9, 9, 0.3);
    margin: 8px 12px;
    height: 300px;
    width: 300px;
}

.cancel {
    position: fixed;
    right: 2px;
    top: 2px;
    cursor: pointer;
}

/* .memimg{
    
} */

.memimg img {
    height: 80px;
    border-radius: 50%;
    border: 2px solid grey;
}

@media(max-width: 950px) {
    .contDetails {
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
    }
}