*::-webkit-scrollbar {
	display: block;
	width: 4px;
	background-color: rgba(245, 245, 245, 0.2);
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background: rgba(30, 30, 30, 0.2);
	border-radius: 10px;
}

.event-link-remover {
	text-decoration: none;
}

.events-contanier {
	width: clac(100vw-4px);
	height: 100vh;
	background-color: #333333;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
}

.events-info-card {
	width: calc(100vw-4px);
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	z-index: 1;
	bottom: 0px;
}

.events-card-info-container {
	width: 65vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.event-card-margin-manager {
	margin-top: 70px;
}

.events-card-text {
	height: 80%;
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.event-card-text-head,
.events-form-header {
	font-size: 1.3rem;
	font-family: "Henny Penny";
	font-style: normal;
	font-weight: 400;
	color: white;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 15%;
}

.event-card-text-breif {
	width: 100%;
	max-height: 25%;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	text-align: left;
	color: white;
	overflow-y: auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 10px;
	padding: 5px;
	padding-right: 9px;
}

.event-card-text-list {
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.events-space {
	margin-top: 10px;
}

.event-card-text-rules {
	width: 65%;
	height: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	color: white;
	list-style: none;
	background-color: #383838;
	padding: 5px;
	border-radius: 5px;
	padding-right: 9px;
	text-align: left;
}

.event-card-text-rules:hover {
	padding-right: 5px;
}

.event-card-text-judging {
	width: 30%;
	height: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	color: white;
	list-style: none;
	background-color: #383838;
	padding: 5px;
	border-radius: 5px;
	padding-right: 9px;
	text-align: left;
}

.event-card-text-judging {
	padding-right: 5px;
}

.event-card-text-register {
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	text-align: justify;
	color: white;
	margin-top: 10px;
}

.event-card-register-link {
	background: #000000;
	border: 2px solid #ffffff;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.events-card-routed-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	width: 35vw;
	height: 100%;
}

.events-card-nav-container {
	width: fit-content;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.events-card-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.event-nav-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: max-content;
	height: max-content;
}

.event-nav-card-inactive {
	color: #fdfdfd;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #ffffff;
	font-family: "Henny Penny";
	font-style: normal;
	font-weight: 400;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.3rem;
}

.event-nav-card-inactive:hover {
	background: #ffffff;
	border: 1px solid #ffffff;
	color: #000000;
}

.event-nav-card-active {
	background: #ffffff;
	border: 1px solid #ffffff;
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
	color: #000000;
	font-family: "Henny Penny";
	font-style: normal;
	font-weight: 400;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.3rem;
}

.events-card-img-container {
	width: 35vw;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.event-card-img {
	height: 100%;
	width: 100%;
}

.event-card-img-next,
.event-card-img-prev {
	position: absolute;
	bottom: 0px;
	height: 20%;
	width: 7.5vw;
}

.event-card-img-next {
	right: 0;
}

.event-card-img-prev {
	left: 0;
}

.events-form-container {
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 2;
}

.events-form {
	margin-top: 70px;
	height: 80vh;
	width: 70vw;
	/* background-image: url("../images/tarot-card-abundance-28485727.jpg");
	background-size: cover; */
	background-position: top;
	background-repeat: no-repeat;
}

.events-form-background {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-y: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.events-form-header {
	margin-bottom: 20px;
}

.row-wrapper-1,
.row-wrapper-2,
.row-wrapper-3,
.row-wrapper-4 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin-bottom: 10px;
}

.events-form-check-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 10px;
}

.row-wrapper-4 {
	justify-content: space-evenly;
	margin-top: 20px;
}

.events-form-text-input {
	outline: none;
	text-decoration: none;
	display: block;
	border: 1px solid gray;
	height: 32px;
	min-width: 200px;
	width: 45%;
	border-radius: 5px;
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-family: "Inter";
	padding-left: 10px;
	color: #333333;
	background-color: rgba(255, 255, 255, 0.75);
}

.events-selector-label {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.events-labels {
	color: white;
	font: "Inter";
	margin-right: 10px;
}

.events-member-selection {
	outline: none;
	text-decoration: none;
	border: 1px solid gray;
	height: 30px;
	border-radius: 5px;
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-family: "Inter";
	padding-left: 10px;
	color: #333333;
	background-color: #ffffff;
}

.events-form-members {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

@media (max-width: 1000px) {
	*:hover::-webkit-scrollbar {
		display: none;
	}

	.events-contanier {
		justify-content: flex-start;
		align-items: flex-end;
		overflow-x: hidden;
	}

	.events-info-card {
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: center;
		position: absolute;
		overflow-y: scroll;
	}

	.events-card-routed-container {
		height: 50%;
		width: 100vw;
		translate: 0 70px;
	}

	.events-card-info-container {
		width: 100vw;
		height: 50%;
		justify-content: flex-start;
		padding-top: 70px;
	}

	.event-card-margin-manager {
		display: none;
	}

	.events-card-text {
		margin-top: 10px;
		height: 100%;
		justify-content: flex-start;
		overflow-y: scroll;
	}

	.event-card-text-head {
		height: fit-content;
	}

	.event-card-text-breif {
		height: fit-content;
		overflow-y: visible;
		padding-right: 5px;
		justify-content: flex-start;
	}

	.event-card-text-list {
		flex-direction: column;
		height: fit-content;
	}

	.event-card-text-rules,
	.event-card-text-judging {
		width: 95%;
		background-color: transparent;
		height: fit-content;
		margin-top: 10px;
	}

	.event-card-text-register {
		height: fit-content;
		margin-bottom: 20px;
	}

	.events-card-routed-container {
		flex-direction: column;
		width: 100vw;
		height: fit-content;
	}

	.events-card-nav-container {
		width: 100vw;
		height: fit-content;
		max-height: 50vh;
		justify-content: center;
		flex-wrap: wrap;
		margin: 10px;
	}

	.events-card-nav {
		flex-direction: row;
	}

	.events-card-img-container {
		width: 50vw;
		height: fit-content;
		justify-content: center;
		align-items: flex-start;
	}

	.event-card-img-next,
	.event-card-img-prev {
		width: 20%;
	}

	.row-wrapper-1,
	.row-wrapper-2,
	.row-wrapper-3,
	.row-wrapper-4 {
		flex-direction: column;
		margin-bottom: 0px;
		margin-top: 0px;
	}

	.events-form-text-input {
		margin-bottom: 10px;
	}

	.event-card-register-link {
		margin-bottom: 10px;
	}
}