.containerhos {
    height: 100vh;
    width: 100%;
    /* display: block; */
    display: flex;
    /* justify-content: center; */
    background-color: red;
    align-items: center;
}



.cardhospitality {
    height: 375px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 385px;
    border: 1px solid black;
}
.moveback{
    right: 200px;
    position: fixed;
    width: 100%;
}
.movenext{
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.scrollbtn{
    display: flex;
    position: fixed;
    bottom: 10%;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}
.btnhos{
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    background-color: blue;
    color: white;
}
.paybtn {
    height: 70px;
    width: 385px;
    border-radius: 0px;
    border: 1px solid black;
}

.cardhead {
    height: 57px;
    width: 260px;
    font-size: 25px;
    font-weight: bold;
}

.price {
    font-weight: bold;
}

.cardcontent {
    height: 255px;
    width: 270px;
    padding: 10px;
    text-align: justify;

}