.laptop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 45px;
    height: 100%;
}

.navdrop {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
}

.dropmenu {
    background-color: red;
}

.dropdown-item a {
    text-decoration: none;
    text-align: justify;
    color: white;
}

.laptop a {
    font-weight: 500;
    font-size: 21px;
    font-family: 'Inter';
    font-style: normal;
    z-index: 999000;
}

.laptop a:hover {
    color: rgb(133, 90, 90);
}

.main_nav {
    z-index: 10000;
    width: 100%;
    height: 65px;
    background: black;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 999000;
    opacity: 0.6;
}

.menubar {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: #ffffff;
    border-radius: 7px;
}

.btn {
    padding: 5px;
    font-size: 20px;
    border-radius: 7px;
}

.leftlogo {
    width: 20%;
}

.nav_links {
    width: 80%;
}

.leftlogoins {
    width: 100%;
    height: 65px;
    background-image: url("../images/blitzBlogo.png");
    background-size: 30% 50%;
    background-repeat: no-repeat;
    background-position: left
}

.register {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.login {
    display: flex;
    width: 15%;
    height: 100%;
    /* border: 1px solid white; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.centertabs {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.dropbtn {
    font-weight: 500;
    font-size: 21px;
    margin-left: 45px;
    background-color: transparent;
    color: white;
}



.dropbtn {
    font-weight: 500;
    font-size: 21px;
    margin-left: 45px;
    background-color: transparent;
    color: white;
}

@media(max-width: 1000px) {

    .laptop {
        position: fixed;
        right: 1200px;
        flex-direction: column;
        transition: all ease-in-out 1s;
        z-index: 999000;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 65px;
        background-color: rgb(22, 21, 21);
        right: 0;
        transition: all ease-in-out 0.7s;
        z-index: 999000;
    }

    .mobile a {
        margin: 22px 20px;
        z-index: 999000;
        padding: 10px;
    }

    .nav_links {
        margin-top: 20px;
    }

    .laptop a {
        margin-top: 20px;
    }


    .menubar {
        display: block;
    }
}

@media(max-width:800px) {
    .leftlogoins {
        background-size: 50% 50%;
    }
}