@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Henny+Penny");

.sponsor {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-image: url("../images/sponsorBG.webp");
	background-size: 100% 100%;
	background-position: contain;
}

.sponsorhead {
	height: 10%;
	width: 100%;
	font-family: "Henny Penny";
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	letter-spacing: 0.08em;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	color: white;
}

.sponsorcontent {
	height: 90%;
	width: 95%;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color: white;
	display: flex;
	align-items: flex-start;
	text-align: justify;
}

.sponsormainleft {
	height: 100%;
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 8%;
}

.sponsormainright {
	padding-top: 8%;
	height: 100%;
	width: 70%;
	display: flex;
	overflow-y: scroll;
	justify-content: center;
	flex-wrap: wrap;
}

.sponsorrightins {
	width: 260px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sponsormainins {
	height: 75%;
	width: 75%;
	background-size: 85% 70%;
	background-repeat: no-repeat;
	background-position: center;
	flex-wrap: wrap;
}

.sponsormaininsname {
	height: 25%;
	width: 100%;
	color: white;
	font-family: "Inter";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}


@media (max-width: 1100px) {
	.sponsorhead {
		font-weight: 400;
		font-size: 30px;
	}

	.sponsorcontent {
		font-weight: 400;
		font-size: 14px;
	}
}

@media (max-width: 800px) {
	.sponsorhead {
		font-weight: 400;
		font-size: 25px;
	}

	.sponsorcontent {
		font-weight: 400;
		font-size: 14px;
	}
}

@media (max-width: 800px) {
	.sponsor {
		flex-direction: column;
	}

	.sponsormainleft {
		width: 95%;
		margin-top: 10%;
	}

	.sponsormainright {
		width: 95%;
	}
}

@media (max-width:500px) {
	.sponsormainins {
		background-size: 65% 55%;
	}
}

@media (max-width: 350px) {
	.sponsormainleft {
		margin-top: 15%;
	}

	.sponsorhead {
		font-weight: 400;
		font-size: 15px;
	}

	.sponsorcontent {
		font-weight: 400;
		font-size: 10px;
	}
}

@media (max-width: 230px) {
	.sponsormainleft {
		margin-top: 20%;
	}

	.sponsorhead {
		font-weight: 400;
		font-size: 12px;
	}

	.sponsorcontent {
		font-weight: 400;
		font-size: 8px;
	}
}