@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Henny+Penny');

.sponsor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("../images/sponsorBG.png");
    background-size: 100% 100%;
    background-position: contain;
}

.sponsorhead {
    height: 19vh;
    width: 85vw;
    font-family: 'Henny Penny';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 0.08em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
}

.sponsorcontent {
    height: 15vh;
    width: 85vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: white;
    display: flex;
    align-items: center;
    text-align: justify;
}

.sponsormain {
    height: 66vh;
    width: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    flex: wrap;
}

.sponsormainins {
    background-size: 50% 50%;
    background-repeat: no-repeat;
    height: 33%;
    width: 20vw;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}